@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}
body {
  padding-top: 40px;
  //text-align: center;
}
h1 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
}

/* forms */

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}
.field_with_errors {
  @extend .control-group;
  @extend .error;
}
form {
  display:inline-table;
  margin-left: 37%;
}
select {
  width:auto;
  border: 1px solid #cccccc;
  background-color: #ffffff;
}
input, textarea {
  width: 90%;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}


