<footer class="footer">
    <small>
        by Razumovskaya Daria
    </small>
    <nav>
        <ul>
            <li><%= mail_to "me@domain.com", "wisedash90@gmail.com" %></li>
        </ul>
    </nav>
</footer>